.button {
  color: black;
  height: 50px;
  display: inline-block;
  background: #179;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

.buttons {
  text-align: center;
}

.container {
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bold;
}

.wrapper {
  
}
