div.bar {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    background-color: teal;
}

.button {
  color: black;
  height: 50px;
  width: 100%;
  background: #179;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#visualization1 {
  background:  #f0f0f0
}
